main.profiles {
    padding: 0;
    margin: 0;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


main.profiles .content {
    padding: 0;
    margin: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.profiles .content ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 2rem;

}

main.profiles .content li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

main.profiles .content li .img {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 2rem;

}




main.profiles .content .btn {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    cursor: pointer;
}

main.profiles .content button{
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

main.profiles .content li .img:hover .btn-delete{
    display: flex;
}